<h2>Edit Employee</h2>

<div class="container">
<form role="form" action="/employees/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= yield %>  
    
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-default" onclick="window.location.href = '/list_employees';">Go back</button>
</form>
</div>