<div class="form-group">
	<label for="employee[first_name]">First name:</label>
	<input type="text" class="form-control" name="employee[first_name]" value="<%= @employee.first_name %>">
	<input type="hidden" name="employee[id]" value="<%= @employee.id %>">
</div>
<div class="form-group">
    <label for="employee[last_name]">Last name:</label>
    <input type="text" class="form-control" name="employee[last_name]" value="<%= @employee.last_name %>">
</div>